name: Postman Monitor Dashboard

on:
  push:
    branches:
      - main  # Make sure this matches your default branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Timestamp
        id: set_timestamp
        run: echo "::set-output name=timestamp::$(date -u +'%Y%m%d%H%M%S')"

      - name: Configure Git
        run: |
          git config --global user.email "youremail@example.com"
          git config --global user.name "Your Name"

      - name: Create Report Directory
        run: mkdir BookAppointmentReport

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Newman and Reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Collection
        run: newman run "bookAppointmentCollection.json" -e "" -r htmlextra --reporter-htmlextra-export BookAppointmentReport/index.html
        
      - name: Checkout GitHub Pages branch
        run: |
          git checkout --orphan gh-pages
          git reset --hard
          git pull origin gh-pages --allow-unrelated-histories || true  # Pull if branch exists, otherwise ignore

      - name: Update GitHub Pages branch
        run: |
          cp -R BookAppointmentReport/* .
          git add .
          git commit -m "Deploy HTML report with timestamp ${{ steps.set_timestamp.outputs.timestamp }}" || echo "No changes to commit"
          git push -u origin gh-pages --force  # Using force push here

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./

      - name: Publish report
        uses: actions/upload-artifact@v4
        with:
          name: BookAppointmentApiReports
          path: BookAppointmentReport
